/* 
List of colors used 
background color of the element : cyan
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.background{
    height: 400px;
    width: 250px;
    background-color: cyan;
    position: relative;
}
.overlay{
    position:absolute;
    opacity:0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.background:hover .overlay{
    opacity: 1;
}
